@{
    ViewBag.Title = "Meter Fare Rate Calculator - Home Page";
}

<div class="jumbotron">
    <h1>Meter Fare Rate Calculator</h1>
    <p class="lead" This ASP.NET application allows users to calculate Taxi Cab fares based off certain criteria of the requested ride.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Info</h2>
        <p>
            Please login to use this application.
        </p>
    </div>

</div>